*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    text-align: center;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;    

}

p {
    padding: 0;
}

aside p {
    text-align: justify;
}

main {
    max-width: 840px;
    text-align: justify;
}

main img{
    width: 130px;
    height: auto;
    float: right;
    margin-left: 15px;
}

aside {
    width: 320px;
    text-align: center;
}

aside img{
    width: 200px;
    height: auto;
    margin-bottom: 13px;
}

aside h2{
    position: relative;
    top: 180px;
    left: 15%;
    color: blanchedalmond;
    font-size: 12pt;

}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box{
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: ghostwhite;
    color: darkblue;
    
}

